header{

background-color: aqua;

}

.hero{

    background-color: aquamarine;
}

.sectionDos{
    background-color: cadetblue;
}
.ourVision{
    background-color: coral;
}

.pasos{
    background-color: darkolivegreen;
}